{% extends 'base.html' %}


{% block title %}Витрина "Ноутбуки"{% endblock %}


{% block content %}


    <div class="post">
        <h3>{{product.product_title}}</h3>
        <h5>{{product.category}}</h5>
        <img class="product_img" src="{{product.product_image.url}}" alt='Ноутбук'>
        <p>{{product.product_description}}</p>
        <ul>
            <li>Процессор: {{product.processor}}</li>
            <li>Видеоадаптер: {{product.videocard}}</li>
            <li>Постоянная память: {{product.product_ram}} ГБ</li>
            <li>Оперативная память: {{product.product_rom}} ГБ</li>
        </ul>
        <p>Цена: <b>{{product.product_price}}</b> руб.</p>
    </div>
    <div class="footer_div">
        <a href ="/"><button>Назад</button></a>
        <p>Катков Илья, 2021</p>
    </div>
</div>

{% endblock %}